<div id="warning" role="alert" tabindex="-1" class="notification-container govuk-!-margin-bottom-6" style="display: none;">
  <div class="notification notification-warning">
    <div class="notification-icon-container notification-warning">
      <span class="notification-icon"></span>
    </div>
    <div class="notification-text">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Some questions are disabled</h2>
      <p class="govuk-!-margin-bottom-0">Your tasks are all completed. You can now submit your answers.</p>
    </div>
  </div>
</div>
