<div class="register-container">
  <h2 class="govuk-heading-l">Register</h2>
  <h3 class="govuk-heading-s">Title number: {{ titleNumber | d('BGL109003') }}</h3>





  <h3 class="govuk-heading-s">
    A: PROPERTY REGISTER
  </h3>
  <ol class="govuk-list govuk-list--number register-list">
    <div class="register-line-container">
      <span class="register-line">
        DORSET
      </span>
    </div>
    <li>
      (19.09.2008) The Freehold land shown edged with red on the plan of the above title filed at the Registry and being 245 Apsen Rowans, Swasils, Dorset BA22 2QC.
    </li>
    <li>
      (19.09.2008) The land was formerly copyhold of the Manor of Barringtons and on the enfranchisement thereof there were reserved the mines, minerals and other rights referred to in section 23 of the Copyhold Act 1894. This registration takes effect subject to such reservation.
    </li>
  </ol>





  <h3 class="govuk-heading-s">
    B: PROPRIETORSHIP REGISTER
  </h3>
  <ol class="govuk-list govuk-list--number register-list">
    <li>
      (11.06.2012) PROPRIETOR: %CHANDLER AIDEN WOODSTOMP% and %MARGUERITTE HOPE WOODSTOMP% of 245 Aspen Rowans, Swaslis, *Dorset* BA22 2QC.
    </li>
    <li>
      (11.06.2012) The price stated to have been paid on 24 May 2012 was £93,000.
    </li>
  </ol>





  <h3 class="govuk-heading-s">
    C: CHARGES REGISTER
  </h3>
  <ol class="govuk-list govuk-list--number register-list">
    <li>
      (11.06.2012) REGISTERED CHARGE dated 24 May 2012.
    </li>
    <li>
      (11.06.2012) Proprietor: #LANDMARK MORTGAGES LIMITED# (Co. Regn. No. 3273685) of Admiral House, Harlington Way, Fleet, Hampshire GU51 4YA.
    </li>
  </ol>





</div>
